
@media screen and (min-width: 1200px){
    body .container-fluid{
        max-width: 1515px;
    }
    .page-img-project .container-fluid{
        width: 1920px;
    }

}
body h2{
    font-family: UTM Alter Gothic;
    font-size: 60px;
}
h4{
    font-family: UTM Alter Gothic;
    font-size: 36px;
}

.titlelight p, .title p{
    font-family: segoeui_0;
}
p{
    font-size: 24px;
}
.titlelight{
    margin-bottom: 80px;
}
.titlelight h2{
    color: #be1a2b;
}

@media screen and (max-width: 1200px){
    body h2{
        font-size: 48px;
    }
    .doingulanhdao .title .title-box {
        position: absolute;
        top: 62px;
        left: 0;
        z-index: -1;
    }
}
@media screen and (max-width: 992px) {
    .doingulanhdao .title p:after{
        display: none;
    }
    .doingulanhdao .title p{
        margin-left: 0px;
    }
}


.title .title-box {
    position: absolute;
    top: 74px;
    left: 0;
    z-index: -1;
}
.title .title-box .bt-box{
    width: 100%;
    height: 26px;
    background: #613c3e;
}

.titlelight h2{
    color: #be1a2b;
}
.titlelight .title-box .bt-box{
    background: #efc7cb;
}

@media screen and (max-width: 1200px){
    body h2{
        font-size: 48px;
    }
    .title .title-box {
        position: absolute;
        top: 62px;
        left: 0;
        z-index: -1;
    }
}


@media screen and (max-width: 992px) {
    .title p:after{
        display: none;
    }
    .gtda h2:before{
        position: absolute;
        left: 0;
        width: 100% !important;
        height: 26px;
        background: #3C4E40;
        opacity: 23%;
        bottom: 0;
        margin-left:15px;
        margin-right:15px;
        content: '';
        z-index: -2;
    }
}
body h4{
    font-family: UTM Alter Gothic;
    font-size: 35px;
}
body h2{
    font-family: UTM Alter Gothic;
    font-size: 60px;
}
/* 5 chi tiet du an */


.nvhtt .group-text p{
    color: #BB0E1F;
    font-size: 22px;
}
.nvhtt .group-text h4{
    font-size: 36px;
}
.nvhtt h2:before{
    position: absolute;
    left: 0;
    width: 100%;
    height: 26px;
    background: #3C4E40;
    opacity: 23%;
    bottom: 0;
    margin-left:15px;
    content: '';
    z-index: -2;
}
.nvhtt .title p:after {
    position: absolute;
    left: 0;
    width: 44px;
    height: 1px;
    background: #000000;
    opacity: 100%;
    top:16px;
    margin-left: 15px;
    content: '';
    z-index: -2;
}
.gtda{
    margin-top: 80px;
    margin-bottom: 150px;
}
.gtda h2:before{
    position: absolute;
    left: 0;
    width: 363px;
    height: 26px;
    background: #3C4E40;
    opacity: 23%;
    bottom: 0;
    margin-left:15px;
    margin-right:15px;
    content: '';
    z-index: -2;
}
.gtda .group-text p{
    color:black;
}
.gtda .group-text h3{
 /*   margin-top:80px;*/
}
.title p{
    margin-left:50px;

}
.title p:after{
    position: absolute;
    left: 0;
    width: 44px;
    height: 1px;
    background: #000000;
    opacity: 100%;
    bottom: 77px;
    margin-left: 15px;
    content: '';
    z-index: -2;
}
.page-img-project .slider_project .owl-item{
    width: 904px;
    margin-right: 30px;

}
.w200:before {
    width: 110%;
}
@media screen and (max-width: 992px){
    .gtda h2:before{
        width:110% !important;
    }
}
.carousel-page{
    background-color: #202421;
}
.btn_click_next .prev1 img{
    transform: rotateY(180deg);
    margin-right: 20px;
}





























