body h4{
    font-family: Oswald;
    font-weight: 300;
    font-size: 36px;
}
body h2{
    font-family: Oswald;
    font-weight: 400;

}
body p{
    font-family: Segoe UI;
    font-size: 18px;
}
.title p{
    font-family: Segoe UI;
}