
@media screen and (min-width: 1200px){
    body .container-fluid{
        max-width: 1515px;
    }
    .page-img-project .container-fluid{
        width: 1920px;
    }

}

.page-gtc p{
    font-size: 18px;
}
.item_field .count_field p{
    float:left;
}
.item_field .count_field h4{
 padding-top: 25px;
}
.title_text{
    margin-top:40px;
}
.text-box{
    margin-top:80px;

}
.text-box h4{
    margin-bottom:80px;

}
.pagefull {
    background-image: url("../../images/img/imgtop2.png");
    background-size: cover;
    background-repeat: no-repeat    ;
}
.pagefull  .tuvanthietke{
    background-image: none;
}

.page-textcolor .item_field h2{
    color: #6D6D6D !important;
    font-weight: 100 !important;
    line-height: 2.6;

}
.page-textcolor .titlecolor h2:before{
    background:#3C4E40;
    opacity: 0.4;
}
.page-textcolor .titlecolor h2{
    margin-bottom: 30px;
}
.page-textcolor .titlecolor .button-color .title_text .btn_move span img{
    width: 35px;
}
.page-textcolor .titlecolor{
    margin-top:0px;
}
.page-textcolor{
    background-image: url("../../images/img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.dnld-color .title-text-color:before{
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}


























