
@media screen and (min-width: 1200px){
    body .container-fluid{
        max-width: 1515px;
    }
    .page-img-project .container-fluid{
        width: 1920px;
    }

}
body h2{
    font-family: UTM Alter Gothic;
    font-size: 60px;
}
h4{
    font-family: UTM Alter Gothic;
    font-size: 36px;
}
.item_field .count_field p{
    float:left;
}
.item_field .count_field h4{
 padding-top: 25px;
}